
html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
    font-weight: normal;
}
ul{
    list-style-type: none;
}
*{
    box-sizing: border-box;
}
@mixin size($width,$height:$width) {
    width: $width;
    height: $height;
}
.dropdown{
    width: 40rem;
    margin: 2rem auto 0 ;
    
    &__select{
        position: relative;
        background-color: #3D9CFF;
        padding: 2rem 2.5rem 2rem 0;
        color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
        // &::before{
        //     content: "";
        //     @include size(100%,2rem);
        //     // background-color: red;
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        //     transform: translateY(100%);
        // }
       
    }
    &__text{
        margin-left: 2.5rem;
    }
    &__caret{
        margin-left:auto;
    }
   
    &__icon{
        padding-left: 4rem;
    }
    &__list{
        margin-top: 2rem;
        background-color:gray;
        padding-left: 0;
        border-radius: 0.5rem;
        position: relative;
        box-shadow: 0 0 10px 0 rgba(black,0.5);
        opacity: 0;
        visibility: hidden;
        transition:  all 0.2s linear;
        &::before{
            content: "";
            @include size(10);
            background-color: rebeccapurple;
            // border-left: 10px solid transparent;
            // border-right: 10px solid transparent;
            // border-bottom: 10px red;
            // z-index: 2;
            position:absolute;
        }
        &::after{
            content: "";
            @include size(100%,2rem);
            background-color: transparent;
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(-100%);
        } 
    }
    &__item{
        padding: 2rem 0 2rem 0;
        color: white;
        display: flex;
        align-items: center;
        border-left: 3px solid transparent;
        cursor: pointer;
        &:not(:last-child){
            border-bottom: 1px solid #eee;    
        }
        &:hover{
            border-left-color: #3D9CFF;
            font-size: 1.6rem;
        }
    }
    &:hover{
        .dropdown__list{
            opacity: 1;
            visibility: visible;
        }
    }
    
    
}