.circle__loading{
    width: 3rem;
    height: 3rem;
    background-color: orangered;
    border-radius: 50%;
    margin: 5rem auto;
    position: relative;

}
.circle__loading::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    opacity: 0.25;
    background-color: inherit;
    border-radius: inherit;
    animation: move 1s forwards infinite linear;
}
@keyframes move{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2,2);opacity: 0.25;
    }
}
.circle__loading:hover{
    opacity: 0.25;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.circles{
    text-align:center;
    /* top bottom: ; */
    margin: 5rem;
    animation: loading 0.5s infinite;

}
.circle__item{
    width: 2rem;
    height: 2rem;
    border: solid 3px purple;
    display: inline-block;
    border-radius: 3rem;
    margin: 00.5rem;
}
@keyframes loading{
    50%{
        transform: rotate(200deg);
    }
    75%{
        transform: rotate(160deg);
    }
    100%{
        transform: rotate(180deg);
    }
}
.square{
    text-align: center;
    margin: 5rem;
    position: relative;
    
}
.square__item{
    width: 1rem;
    height: 3rem;
    
    position: absolute;
    background-color: gray;
    display: inline-block;
    animation: squareanimation 0.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.square__item:first-child{
    animation-delay: -0.2s;
    /* margin-left: 2rem; */
}
.square__item:nth-child(2){
    animation-delay: -0.4s;
    margin-left: 2rem;
}
.square__item:nth-child(3){
    margin-left: 4rem;
    animation-delay: 0;
    /* background-color: aqua; */
}
@keyframes squareanimation{
    
    from{
        transform: scale(2);
    }
    to{
        transform: scale(1);
    }
}