@mixin  size($width,$height:$width) {
    width: $width;
    height: $height;
    
}
table{
    width: 100%;
    th{
        color: #8c94a7;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        padding: 2rem;
        text-align: center;
    }
    thead tr{
        border-bottom: 5px solid red;

    }
    tbody td{
        text-align: center;
    }
    .desc{
        white-space: nowrap;
        max-width: 15rem;
        overflow:hidden;
        text-overflow: ellipsis;
    }
    .checkbox{
        &__input{
            display: none;
            &:checked+.checkbox__lable>.checkbox__circle{
                background-color: #06B1FF;
                transform: translate(200%,-40%);
            }
            &:checked+.checkbox__lable{
                background-color: #202C76;
            }
        }
        &__lable{
            display: inline-block;
            @include size(3rem,4px);
            background-color: #EAEAEA;
            transform: translateY(-100%);
            border-radius: 2rem;
            cursor: pointer;
            transition: 0.5s ease
        }
        &__circle{
            @include size(1rem);
            border-radius: 50%;
            background-color: #B6B6B6;
            transform: translate(-10%,-40%);
            transition: 0.5s ease;
        }
    }
    .status{
        display: inline-block;
        text-align: center;
        
        &__active{
            color: green;
            text-transform: lowercase;
            padding: 0.5rem 1.5rem;
            background-color: rgba($color: green, $alpha: 0.3);
            border-radius: 1rem;
            font-weight: bold;
        }
    }
    .action{
        cursor: pointer;
        i{
            margin-left: 1rem;
        }
    }
}
@media screen and(max-width:1279px) 
{
    .table{
        width: 100%;
        overflow-x: auto;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    
}