.wrap{
    width: 100%;
    height: 35rem;
    background-color: red;
    position: relative;
   
}
p{
   
    color: white;
    position: relative;
    font-weight: bold;
    z-index: 1;
}
.box{
    /* khi dùng absolute này thì hình hộp sẽ k bị tính diện tích nữa
    và lorem sẽ bị tràn lên đầu */
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: black;
    z-index: 2;
    /* position: relative;
    top: 5rem; */
    /* top: 50%;
    left: 50%; */
}
body{
    background-color: rgba(128, 128, 128, 0.71);
   
}
.container{
    position: fixed;
    display:inline-block;
    background-color: rgba(128, 128, 128, 0.71);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
}
.container__box{
    width: 90%;
    height: 90%;
    background-color: white;
    position: absolute;
    padding: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}