*{
    box-sizing: border-box;
}
/* khai bao bien */
:root{
    --primary-color:red;
}
.boxgradient{
    width: 15rem;
    height: 15rem;
    background-image: linear-gradient(to right bottom,green,yellow);
}
.fontgradient{
    color: transparent;
    background-image: linear-gradient(to right bottom,red,green);
    font-size: 2rem;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
}
/* đoạn này hay bị thiếu dấu phẩy sau linear-gradient */
.imageinsertgradient{
    width: 15rem;
    height: 15rem;
    background-image:
     linear-gradient(to right bottom,rgba(0, 173, 253, 0.822),rgba(255, 166, 0, 0.761)),
     url("https://images.unsplash.com/photo-1654032390962-577291d0fdce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
}
.shadow__box{
    width: 20rem;
    height: 20rem;
    margin: auto;
    margin-top: 3rem;
    background-color: black;
    box-shadow: 5px 0 20px 10px red;
}
.shadow__text{
    /* vẫn có thể ghi đè biến ở đây vì trong đây nó tro thành biến cục bộ */
    --primary-color:green;
    text-shadow: 5px 5px 10px var(--primary-color);
    font-style: bold;
    font-size: 2rem;

}